* {
  font-family: sans-serif;
}

header {
  font-size: 30px;
  font-weight: bold;
}

body {
  background-color: rgb(142, 142, 253);
}

#lista-tarefas {
  margin-right: 75%;
}
.task {
  word-wrap: break-word;
  border-bottom: 1px solid black;
}
