/* Tags */
* {
  font-family: sans-serif;
}

header {
  font-size: 30px;
  font-weight: bold;
}

body {
  background-color: rgb(142, 142, 253);
}

/* IDs */
#lista-tarefas {
  margin-right: 75%;
}

/* Classes */
.completed {
  text-decoration: line-through;
  
}

.select {
  background-color: red;
}
.task {
  word-wrap: break-word;
  
}
